header(class="clearfix")
  nav.navbar.navbar-default
    .container-fluid
      img(src="images/logo.png")
      .navbar-header
        a.navbar-brand(ui-sref='app.home') Common Product
      #navbar.navbar-collapse.collapse
        ul.nav.navbar-nav
          li(ng-repeat='t in app.tabs', ng-class="{ 'active': t.active }")
            a(ui-sref='{{t.state}}')
              i(ng-class="t.classes")
              span {{t.title}}
